.navbar-dark .navbar-brand {
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000000!important;
  /*opacity: 0.8;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
}

.fa.fa-apple.apple-logo {
  color: #fff;
  font-size: 21px;
  line-height: 0;
}

body {
  padding-top: 50px;
}

.product {
  padding-top: 100px;
  text-align: center;
}

.h2, h2 {
  font-size: 27px;
  font-weight: 500;
  color: #fff;
}

.learn-more {
  margin-right: 20px;
}

.product .links {
  color: #2997ff !important;
  padding-bottom: 50px;
  font-size: 24px;
}

.product.iphone11pro {
  background-color: #000;
}

.product.iphone11pro {
  padding-bottom: 382px;
}

.product.iphone11pro {
  background-position: center;
}

.learn-more a:hover {
  color: #2977ff;
}

.h2, h2 {
  color: #000;
}

.product.iphone11pro h1 {
  font-size: 56px;
  font-weight: bold;
  color: #fff;
}

.product.iphone11pro h2 {
  color: #fff;
  font-weight: 500;
  font-size: 27px;
}

.product.iphone11 h1 {
  color: #000;
  font-weight: bold;
  font-size: 56px;
}

.product.iphone11 h2 {
  color: #000;
  font-weight: 500;
  font-size: 27px;
}

.product.iphone11pro h4 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}

.product.iphone11 h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}

.product.iphone11 {
  background-position: center;
}

